/*
 * Positioning
 */

.overlay-Container {
  z-index: 10000;

  position: relative;
}

.overlay-Container
  .overlay-Wrapper {
    position: fixed;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    overflow-y: auto;
  }

.overlay-Container
  .overlay-Wrapper
    .overlay-Body {
      position: absolute;

      left: 50%;
    }

/*
 * Positioning
 */

.overlay-Container
  .overlay-Wrapper
    .overlay-Body {
      margin-top: 50px;
      margin-bottom: 50px;
    }

@media screen and (max-width: 991px) {
  .overlay-Container
    .overlay-Wrapper
      .overlay-Body {
        margin-top: 0;
        margin-bottom: 0;
      }
}

/*
 * Visibility handling
 */

.overlay-Container
  .overlay-Wrapper.overlay--hidden {
    opacity: 0;
  }

.overlay-Container
  .overlay-Wrapper.overlay--shown {
    opacity: 1;
  }

/*
 * Backdrop
 */

.overlay-Container
  .overlay-Wrapper.overlay--backdrop-dark {
    background-color: rgba(51, 51, 51, 0.5);
  }

.overlay-Container
  .overlay-Wrapper.overlay--backdrop-light {
    background-color: rgba(255, 255, 255, 0.7);
  }

/*
 * Animations
 */

@-webkit-keyframes opacity_in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes opacity_in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes from_above {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -150px, 0);
            transform: translate3d(0, -150px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes from_above {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -150px, 0);
            transform: translate3d(0, -150px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.overlay-Wrapper.overlay--shown.overlay--animation-from-above {
  -webkit-animation: opacity_in 0.2s linear;
          animation: opacity_in 0.2s linear;
}

.overlay-Wrapper.overlay--shown.overlay--animation-from-above
  .overlay-Body {
    -webkit-animation: from_above 0.25s ease-in;
            animation: from_above 0.25s ease-in;
  }

@-webkit-keyframes from_within {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes from_within {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.overlay-Wrapper.overlay--shown.overlay--animation-from-within {
  -webkit-animation: opacity_in 0.15s linear;
          animation: opacity_in 0.15s linear;
}

.overlay-Wrapper.overlay--shown.overlay--animation-from-within
  .overlay-Body {
    -webkit-animation: from_within 0.2s ease-in;
            animation: from_within 0.2s ease-in;
  }
